html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    position: relative;
}

/* Background Panoramic Display */
.DisplayArea {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: green;
}

/* StreetView Panorama element */
#pano {
    height: 100%;
    width: 100%;
    float: left;
}

/* Foreground Heads-Up-Display */
.HUD-Overlay{
    z-index: 2;
    position: relative;
}

/* Top Navigation HUD*/
.HUD-Navigation{
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: teal;
}

/* Container for elements in Navigation-HUD */
.HUD-Navigation-Element {
    margin: .5%;
    width: auto;
    height: 100%;
    background-color: greenyellow;
}

/* Bottom Dashbord HUD */
.HUD-Dashboard {
    z-index: 3;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: grey;
}

/* Container for elements in Dashboard HUD*/
.HUD-Dashboard-Element {
    margin: 0.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Restrict elements that are contained, to the container */
.HUD-Navigation-Element *,
.HUD-Dashboard-Element * {
    max-height: 100%;
    width: auto;
}

/* End of Page footer*/
footer {
    z-index: 3;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: white;
}

/* All Child elements of footer */
footer * {
    margin-left: 0.5%;
    margin-right: 0.5%;
}