html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

/* Background Panoramic Display */
.DisplayArea {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* StreetView Panorama element */
#pano {
  height: 100%;
  width: 100%;
  float: left;
}

/* Foreground Heads-Up-Display */
.HUD-Overlay {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100%;
}

/* Top Navigation HUD*/
.HUD-Navigation {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Container for elements in Navigation-HUD */
.HUD-Navigation-Element {
  margin: 0.5%;
  width: auto;
  height: 100%;
}

/* Overhead Map element */
#map {
  height:100%; 
  width: 25vh;
  margin: 0;
  padding: 0;
} 

.menu {
  margin-right: 100px;
  margin-top: 10px;
}

a,
a:visited {
  text-decoration: none;
  font-size: 20px;
  color: black;
  background-color: rgb(143, 112, 133);
  padding: 5px;
  border-radius: 3px;
}

a:hover {
  background-color: rgb(123, 92, 113);
}

/* Bottom Dashbord HUD */
.HUD-Dashboard {
  z-index: 2;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

/* Container for elements in Dashboard HUD*/
.HUD-Dashboard-Element {
  padding-left: 0.5%;
  padding-right: 0.5%;
  height: 15vh;
  width: auto;
}

/* Restrict elements that are contained, to the container */
.HUD-Navigation-Element *,
.HUD-Dashboard-Element * {
  max-height: 100%;
  width: auto;
}

#gamepadStatus{
  white-space: pre;
  font-size: 70px;
  text-align: center;
  color:red;
  font-weight: bold;
}

/* Gamepad - Controller Image*/
#gamepad * {
  max-height: 100%;
  width: auto;
}

/* End of Page footer*/
footer {
  z-index: 2;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: white;
}

/* All Child elements of footer */
footer * {
  margin-left: 0.5%;
  margin-right: 0.5%;
}
