
body{
    background:rgb(37, 36, 36);
}

    .container-fluid{
        color: white;
        border-style: black;
        background:blue;
        height: 92vh;
    }


    .location{
        color:red;
        border-style: black;
        background:white;
    }


    .logo{
        color:blue;
        border-style: black;
        background:yellow;
    }

    .gamepad{
        height: 25vh;
        color:white;
        border-style: black;
        background:blue;
    }

    .panorama{
        height: 75vh;
        text-align: center;
        color:white;
        border-style: black;
        background:grey;
    }